@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/components/BrandPartners.css */

.partners-carousel {
    overflow: hidden; /* Hide overflow to create a sliding effect */
    white-space: nowrap; /* Keep images in a single line */
  }
  
  .carousel-row {
    display: inline-flex; /* Arrange images in a row */
    animation: scroll 20s linear infinite; /* Continuous scrolling animation */
  }
  
  .partner-image {
    width: 150px; /* Adjust the size as needed */
    margin: 0 10px; /* Space between images */
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0); /* Start at the beginning */
    }
    to {
      transform: translateX(-50%); /* Scroll left by 50% of the container width */
    }
  }
  